{% extends 'base.html' %}

{% block body %} 

<style>

#btns{
    margin-left:150px;
    width: 200px;
}
</style>

<div class="container" hx-target="this" hx-swap="outerHTML">
    <div class="row">

        <div class="col-md-6">

            <h3 style="color: red;" >Add Expense</h3>
            <br>

            <form action="" method="POST">{% csrf_token %}
                
                <div class="form-group">
                     <label for=""> <b> Date</b></label> 
                     <input class="form-control" type="date" name="date" value="" id="date"></div>
                     
                <div class="form-group"> <label for=""><b> Expense name </b></label> 
                    <input class="form-control" type="text"  name="ename"  id="expensename">
                </div>
                <div class="form-group">
                     <label for=""> <b> Expense Amount</b> </label> 
                      <input class="form-control"  type="number" min="0" name="eamount" id="amount">
                </div>

                <div class="form-group">
                    <label for="" > <b> Pay Mode</b></label> 
                    <select class="form-control" name="pay_mode" id="paymode">
                        <!-- <option  selected hidden>Pay-Mode</option> -->
                        <option name="cash" value="CASH">cash</option>
                        <option name="debitcard" value="DEBIT-CARD">debitcard</option>
                        <option name="creditcard" value="CREDIT-CARD">creditcard</option>
                        <option name="epayment" value="UPI">UPI</option>
                        <option name="onlinebanking" value="ONLINE-BANKING">onlinebanking</option>
                    
                    </select>
<br>
                 <div class="form-group">
                    <label for=""><b> Expense Type</b></label>
                    <select class="form-control" name="expense_type" id="category">
                        <!-- <option value="" selected>Expense_Type</option> -->
                        <option value="Food">Food</option>
                        <option value="Travel">Travel</option>
                        <option value="Shopping">Shopping</option>
                        <option value="Entertainment">Entertainment</option>
                        <option value="RENT">RENT</option>
                        <option value="HOME">HOME</option>
                        <option value="EMI">EMI</option>
                        <option value="Other">Other</option>
            
                    </select>
                </div>

                <!-- <div class="form-group">
                    <label for=""><b> Bill Receipt </b></label> 
                     <input class="form-control"  type="file" min="0" name="bill_receipt" id="amount">
               </div> -->
<br>
                <input class="btn btn-danger" hx-post="."  type="submit" value="Add" id="btns" >         
            </form>
            
            <div  style="position: relative; left: 590px; top: -460px;" class="imagge">
                <img width="90%" height="90%" src="../static/images/addd.jpg" class="rounded float-left" alt="...">

               </div>
              
        </div>
    </div>
    
</div>

{{form}}

    {% endblock %}