{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %} 


<div hx-target="this" hx-swap="outerHTML">
     <h3>Add Expense</h3>
    <form action="" method="POST">{% csrf_token %}
      {{ form|crispy }}

     <input class="btn btn-danger" hx-post="."  type="submit" value="Add" id=""> 
    </form>
            
<div  style="position: relative; left: 590px; top: -460px;" class="imagge">
    <img width="90%" height="90%" src="{% static 'images/addd.jpg' %}" class="rounded float-left" alt="...">

   
    {% endblock %}