{% extends 'base.html' %}

{% block body %} 

    <!-- <div id=aa class="container">

        
    <div class="ccc">
        
        
        <img src="../static/images/images (13).jpeg">
        
        <h1>LET START JOURNEY</h1>
        
        <P>MyBudget web application helps<br> you to maintain budget<br>
             and analyse the expense</P>
        <img height="13%" width="13%" style="position: relative; top: -690PX; left: -60PX;" src="../static/images/istockphoto-943300706-612x612.jpg">
    </div>
    <span  class="btn btn-outline-dark">Let's Begin</span>
</div> -->


<div id=aa class="container">
    <div class="row">
        <div class="col">
        <img src="../static/images/images (13).jpeg">

        </div>
        <div style="margin-top:100px" class="col">
            
            <h1>LET's START JOURNEY</h1>
        
            <P>MyBudget web application helps<br> you to maintain budget<br>
                 and analyse the expense</P>
            <span  class="btn btn-outline-dark">Let's Begin</span>
        
        </div>
        </div>
    </div>
 </div>

{% endblock %}